<div class="wrapper">
    <h2>{{name}}'s board</h2>        
    <h3>Your outfits' list:</h3>
</div>

<div class="grid">
    {{#if outfits.length}}
        {{#each outfits as |outfit|}}
            <div class="content">
                <section class="card">
                <a href="/outfits/{{id}}">
                <img
                class="outfit-image"
                src="/images/{{image}}"
                alt="Outfit"
            /></a>
            <div class="card-body-simple">
                <div>
          <h1>{{outfit_name}}</h1>
          <h2>{{gender}}</h2>
          <h2>{{occasion}}</h2>
                </div>
        <div class="btn-no-style like">
          <button id="like" class="like"><img src="/images/like.svg"/></button>
        </div>
                </div>
                </section>
            </div>
          {{/each}}
        </div>
      {{/if}}
  </div>
</div>
</div>

<button><a href="/addoutfit" class="btn btn-primary">Create a new Pose</button>


<script src="./js/profile.js"></script>
