<label for="sort-outfits">Sort by: </label>
<select name="sort-outfits" id="sort-outfits">
  <option value="bypricehigh">Price high to low</option>
  <option value="bypricelow">Price low to hight</option>
</select>

<div class="grid">
  {{#each outfits as |outfit|}}
    <div class="content">
      <section class="card">
        <a href="/outfits/{{id}}">
          <img class="outfit-image" src="/images/{{image}}" alt="Outfit" />
          <div class="card-body-simple">
            <div>
              <h1>{{outfit_name}}</h1>
              <h2>{{gender}}</h2>
              <h2>{{occasion}}</h2>
            </div>

            <div class="btn-no-style like">
              <button  class="like" type="submit">
                <input type="checkbox" id="like" value="false" src="/images/unlike.svg" onMouseOver="this.src='/images/like.svg'" onMouseOut="this.src='/images/unlike.svg'">
              </button>
            </div>

          </div>
        </a>
      </section>
    </div>
  {{/each}}
</div>

<script src="/js/homepage.js"></script>
<script src="js/likes.js"></script>