<div class="content">
<section class="card">
          <img
            class="outfit-image"
            src="{{image}}.jpg"
            alt="Outfit"
          />
          <div class="card-body">
            <div class="outfit-nav">
              <img src="../public/images/arrow_left.svg">
              <h1>{{outfit_name}}</h1>
              <img src="../public/images/arrow_right.svg">
            </div>
            <header>
              <div>
                <h3>{{notes}}</h3>
              </div>
              <div class="price">
                <h2>{{price}}</h2>
              </div>
            </header>
            <div class="details">
              <p><span>Brand: </span>{{brand}}</p>
              <p><span>Shop: </span>{{location}}</p>
              <p><span>Gender: </span>{{gender}}</p>
              <p><span>Occasion: </span>{{occasion}}</p>
              <p><span>Colour: </span>{{colour}}</p>
              <p><span>Post date: </span>{{date}}</p>
            </div>
          </div>
        </section>
</div>