<div class="single-outfit">
  <div class="content">
    <img class="outfit-image" src="{{image}}" alt="Outfit" />
    <section class="card-single-outfit">
      <div class="card-body">
        <div class="card-body-padding">
          <div class="outfit-nav">
            <h1>{{outfit_name}}</h1>
          </div>
          <header>
            <div>
              <h3>{{notes}}</h3>
            </div>
            <div class="price">
              <h2>{{price}}</h2>
            </div>
          </header>
          <div class="details">
            <p><span>Brand: </span>{{brand}}</p>
            <p><span>Shop: </span>{{location}}</p>
            <p><span>Gender: </span>{{gender}}</p>
            <p><span>Occasion: </span>{{occasion}}</p>
            <p><span>Colour: </span>{{colour}}</p>
            <p><span>Post date: </span>{{date_created}}</p>
          </div>
        </div>
      </div>
    </section>

  </div>
  {{#if logged_in}}
  <div class="wrapper">
    <button
      data-id="{{outfit.id}}"
      class="btn btn-delete"
      id="btn-delete"
    >Delete the Outfit</button>
  </div>
{{/if}}
</div>

<script src="/js/deleteOutfit.js"></script>